@import "@client/Styles/colors.scss";

.RoleTab {
    display: grid;
    place-items: center;
}

.UserRow {
    td:not(:first-child) {
        text-align: center;
        .react-icons {
            cursor: pointer;
        }
    }
}
