$mainColor: #61dafb;
$mainHover: lighten($mainColor, 10%);
$mainBackground: #282c34;
$mainFontColor: #fff;
$secondaryFontColor: #000;

$tableEven: #171b23;
$textOnMain: #ffffff;

$error: #b00;
$success: #107e3e;
$warning: #e9730c;
$info: #0a6ed1;
