@import "./Page.scss";
@import "./table.scss";

body {
    margin: 0;
    padding: 0;
    font-family: Open-Sans, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

#react-app, .App {
    width: 100%;
    height: 100%;
    background-color: $mainBackground;
    color: $mainFontColor;
}
