@import "./colors.scss";

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    thead tr {
      background-color: $mainColor;
      color: $secondaryFontColor;
      text-align: left;

    }
    th, td {
        padding: 12px 15px;
        &.actionTd {
          text-align: center;
          &:hover {
            cursor: pointer;
          }
        }
      }
    tbody {
      tr {
        border-bottom: 1px solid #dddddd;
        &:nth-of-type(even) {
          background-color: $tableEven;
        }
        &:last-of-type(odd) {
          border-bottom: 2px solid #009879;
        }

        &:hover {
          background-color: rgba(black, 0.3);
          color: #009879;
        }
      }
    }
  }
