@import "@client/Styles/colors.scss";

.Segment {
    min-width: 350px;
    min-height: 400px;
    max-width: 100%;
    border: solid 1px black;
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background: $mainColor;
        width: 100%;
        .menuItem {
            padding: 1em;
            color: $secondaryFontColor;
            &:hover {
                background: $mainHover;
                cursor: pointer;
            }
        }
    }
}
