@import "@client/Styles/colors.scss";

.Help {
    position: fixed;
    right: -100px;
    top: 45%;

    transition: 500ms linear;
    &:hover {
        right: 0;
        transition: 500ms linear;
    }

    .modal-container {
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        height: 110vh;
        width: 110vw;
        background: rgba(0,0,0,0.5);
        display: grid;
        justify-content: center;
        align-content: center;
        .modal {
            background: white;
            color: $secondaryFontColor;
            display: flex;
            flex-direction: column;
            padding: 1em;
            box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.6);
            .header {
                padding: 0.5em;
                color: $secondaryFontColor;
            }
            .content {
                padding: 0.5em;
                color: $secondaryFontColor;
            }
            .actions {
                padding: 0.5em;
            }
        }

        &.close {
            display: none;
        }
    }
}
