@import "@client/Styles/colors.scss";

.Modal {
    position: fixed;
    height: 110vh;
    width: 110vw;
    background: rgba(0,0,0,0.5);
    display: grid;
    justify-content: center;
    align-content: center;

    .modal {
        background: white;

        display: flex;
        flex-direction: column;
        padding: 1em;
        box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.6);
        .header {
            padding: 0.5em;
            color: $secondaryFontColor;
        }
        .content {
            padding: 0.5em;
            color: $secondaryFontColor;
        }
        .actions {
            padding: 0.5em;
        }
    }

    &.close {
        display: none;
    }
}
