@import "@client/Styles/colors.scss";

.Alert {
    padding: 4px 10px;

    border-radius: 5px;
    color: white;
    border: 1px solid gray;
    
    overflow-wrap: break-word;
    white-space: break-spaces;

    &--warning {
        background: $warning;
        color: black;
    }

    &--success {
        background: $success;
    }

    &--info {
        background: $info;
    }

    &--error {
        background: $error;
    }
}
