.StatisticsPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & > div {
        margin: 1em;
    }

    @media screen and(max-width: 1024px) {
        flex-direction: column;
    }
}
