@import "@client/Styles/colors.scss";

.Button {
    width: 150px;
    height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    background: $mainColor;
    color: $secondaryFontColor;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    border: none;
    &:hover {
      background: $mainHover;
    }
}
