.Homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Alert {
    margin-top: 16px;

    .res {
      .Button {
        margin-left: 1em;
      }
    }
  }
}
