@import "@client/Styles/colors.scss";

.Layout {
    width: 100%;
    height: 100%;
    .content {
        width: 100%;
        height: calc(100% - 3em);
        max-height: calc(100% - 3em);
    }
    ul {
        background-color: black;
        height: 3em;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        li {
            float: right;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            height: 100%;
            &:hover {
                background-color: $mainHover;
                color: $secondaryFontColor;
                cursor: pointer;
            }
        }
    }
}
