.Auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 400px;
  // background: white;
  box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.7);
  .Button {
    margin-top: 2em;

    &:first-of-type {
      margin-right: 16px;
    }
  }
  .Input {
    margin-top: 1em;
  }
}
