.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    .profileForm {
        padding: 24px;
        width: 400px;
        box-shadow: 0px 0px 24px -4px rgba(0,0,0,0.7);
    }
}
